<h1>Title</h1>
<%= @book.title %>

<h1>Body</h1>
<%= @book.body %>

<%= link_to "Update Book", edit_book_path(@book.id) %>
<%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>